footer {
    text-align: center;
}

.footer__comp {
    background-color: var(--main-contrast-color);
    padding: 1rem;
}

.footer__dev {
    background-color: var(--main-contrast-color);
    padding: 0.2rem 0 1.5rem 0;
}

.footer__dev p,
.footer__dev a{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}
footer span, footer a, footer p, footer h3 {
    color: white;
    font-size: large;
}

footer p {
    margin-bottom: 0
}

footer img {
    margin-left: 0.5rem;
}

@media (min-width: 600px) {}