.materials {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: var(--main-gray);
  min-height: 100%;
}

.materials-import {
  margin-bottom: 2rem;
  width: 40rem;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.materials-table-cont {
  width: 95%;
  margin-bottom: 2rem;
}

.materials-table {
  padding: 1rem;
  width: 100%;
}

.-header {
  font-family: 'arsenal', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

/***************************/
.mutationbtn-container{
  display: flex;
  justify-content: space-evenly;
}

.modal-title.h4 {
  font-family: 'oswald', sans-serif;
  font-weight: bold;
}

.modal-body {
  margin: 1rem
}

.ReactTable .-pagination .-btn{
  color: rgb(0, 0, 0);
  background: rgba(0,0,0,0.3);
}

.input[type="file"]{

}

@media screen and (min-width: 600px) {
  .materials-table {
    width: 80%;
    margin-bottom: 3rem;
  }

  .materials-import {
    margin-bottom: 3rem;
    width: 80%;
  }

  .materials-table-cont {
    width: 80%;
  }
}